# UI Libraries
CustomTkinter

# macOS integration (for app tracking)
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyobjc-framework-ScriptingBridge

# LLM Interaction
transformers>=4.53.0
torch
accelerate  # For faster model loading

# Database
SQLAlchemy

# Plotting
matplotlib

# Other utilities
psutil>=5.9.0  # For system information and process details
Pillow # Pillow is needed for creating dummy images in tests and potentially for other image ops

# Packaging
PyInstaller 